<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" th:text="${site.siteName}"></h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img th:src="${site.previewImageUrl}" th:alt="${site.siteName}">
            </a>
        </div>
    </div>
    <div class="row">
        <dl class="dl-horizontal">
            <dt>地址</dt>
            <dd th:text="${site.location}"></dd>
            <dt>起步价格</dt>
            <dd th:text="'￥' + ${site.startingPrice}"></dd>
            <dt>会场简介</dt>
            <dd th:text="${site.siteBriefIntroduction}"></dd>
            <dt>会场服务</dt>
            <dd th:text="${site.siteServices}"></dd>
            <dt>会场政策</dt>
            <dd th:text="${site.sitePolicy}"></dd>
            <dt>会场面积</dt>
            <dd th:text="${site.area}"></dd>
            <dt>会场层高</dt>
            <dd th:text="${site.storyHeight}"></dd>
            <dt>会场尺寸</dt>
            <dd th:text="${site.size}"></dd>
            <dt>流明度</dt>
            <dd th:text="${site.lumen}"></dd>
            <dt>会场类型</dt>
            <dd th:text="${site.type==1?'剧院式':
                        site.type==2?'课桌式':
                        site.type==3?'分组式':
                        site.type==4?'回型/U型':'其他'}"></dd>
            <dt>免费项目</dt>
            <dd th:text="${site.freeServices}"></dd>
            <dt>门市全天价格</dt>
            <dd th:text="${site.retailFullDay}"></dd>
            <dt>门市半天价格</dt>
            <dd th:text="${site.retailHalfDay}"></dd>
            <dt>会议全天价格</dt>
            <dd th:text="${site.meetingOnlyFullDay}"></dd>
            <dt>会议半天价格</dt>
            <dd th:text="${site.meetingOnlyHalfDay}"></dd>
            <dt>延时收费/小时（元）</dt>
            <dd th:text="${site.overtimeChargePurHour}"></dd>
            <dt>会议室所在楼层</dt>
            <dd th:text="${site.meetingLevel}"></dd>
            <dt>是否有直达会议室电梯</dt>
            <dd th:text="${site.hasThroughLiftToMeeting?'有':'无'}"></dd>
            <dt>是否有免费休息室</dt>
            <dd th:text="${site.hasFreeLounge?'有':'无'}"></dd>
            <dt>是否有前厅</dt>
            <dd th:text="${site.hasLobby?'有':'无'}"></dd>
            <dt>是否有窗户</dt>
            <dd th:text="${site.hasWindow?'有':'无'}"></dd>
            <dt>是否方正</dt>
            <dd th:text="${site.hasSquareArea?'有':'无'}"></dd>
            <dt>是否有柱子</dt>
            <dd th:text="${site.hasPillar?'有':'无'}"></dd>
            <dt>是否有地毯</dt>
            <dd th:text="${site.hasCarpet?'有':'无'}"></dd>
            <dt>是否有舞台</dt>
            <dd th:text="${site.hasStage?'有':'无'}"></dd>
            <dt>是否有投影</dt>
            <dd th:text="${site.hasProjection?'有':'无'}"></dd>
            <dt>是否有LED</dt>
            <dd th:text="${site.hasLed?'有':'无'}"></dd>
            <dt>LED尺寸（㎡）</dt>
            <dd th:text="${site.ledSize}"></dd>
            <dt>LED租用价格（元/天）</dt>
            <dd th:text="${site.ledRent}"></dd>
        </dl>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    <button type="button" class="btn btn-primary" disabled>预约</button>
</div>
