<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:include="header :: commonheader">
</head>
<head>
    <!--/*页面自定义*/-->
    <title th:text="'会大师，' + ${site.siteName}"></title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/site_detail.css}">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body>

<!-- 导航 -->
<nav th:replace="nav :: navbar"></nav>

<!-- 会场主要信息 -->
<div class="container marketing">
    <div class="bs-example" data-example-id="default-media">
        <div class="media">
            <div class="media-right">
                <a href="#">
                    <img th:src="${site.previewImageUrl}" th:alt="${site.siteName}" class="img-rounded"
                         style="border: 1px solid #ddd;width: 550px;height: 350px">
                </a>
            </div>
            <div class="media-body basic-site-info">
                <h2 class="media-heading" th:text="${site.siteName}"></h2>
                <p>
                    <span class="field-name">地址：</span>
                    <span th:text="${site.location}"></span>
                </p>
                <p>
                    <span class="field-name">起步价格：</span>
                    <span th:text="${site.startingPrice} + '元'"></span>
                </p>
                <p>
                    <span class="field-name">会场简介：</span>
                    <span th:text="${site.siteBriefIntroduction}"></span>
                </p>
                <p>
                    <span class="field-name">会场服务：</span>
                    <span th:text="${site.siteServices}"></span>
                </p>
                <p>
                    <span class="field-name">会场政策：</span>
                    <span th:text="${site.sitePolicy}"></span>
                </p>
                <p>
                    <span class="field-name">开业时间：</span>
                    <span th:text="${#dates.format(site.openingDate, 'yyyy-MM-dd')}"></span>
                </p>
                <p>
                    <span class="field-name">最后装修时间：</span>
                    <span th:text="${#dates.format(site.lastDecorationDate, 'yyyy-MM-dd')}"></span>
                </p>

            </div>

        </div>
    </div>

    <div class="panel panel-default rooms-info">
        <h4 class="panel-heading text-muted" style="margin: 0">房间信息</h4>
        <div class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" th:class="${stat.index == 0}?'active':''" th:each="item,stat : ${rooms}"><a
                        th:href="'#' + ${item.id}" role="tab"
                        data-toggle="tab" th:text="${item.name}"></a></li>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content" style="margin-top:25px">
                <div th:each="item,stat : ${rooms}" th:classappend="${stat.index == 0}?'active':''" role="tabpanel"
                     class="tab-pane" th:id="${item.id}">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4">
                            <p>
                                <span class="field-name">房间类型：</span>
                                <span th:text="${item.type}"></span>
                            </p>
                            <p>
                                <span class="field-name">免费项目：</span>
                                <span th:text="${item.freeServices}"></span>
                            </p>
                            <p>
                                <span class="field-name">所在楼层：</span>
                                <span th:text="${item.meetingLevel}"></span>
                            </p>
                            <p>
                                <span class="field-name">是否有直达电梯：</span>
                                <span th:text="${item.hasThroughLiftToMeeting}?'有':'没有'"
                                      th:classappend="${item.hasThroughLiftToMeeting}?'label label-success':'label label-danger'"></span>
                            </p>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <p>
                                <span class="field-name">面积：</span>
                                <span th:text="${item.area} + '㎡'"></span>
                            </p>
                            <p>
                                <span class="field-name">层高：</span>
                                <span th:text="${item.storyHeight} + 'm'"></span>
                            </p>
                            <p>
                                <span class="field-name">尺寸：</span>
                                <span th:text="${item.size} + '（长*宽*高）'"></span>
                            </p>
                            <p>
                                <span class="field-name">流明度：</span>
                                <span th:text="${item.lumen} + 'lm'"></span>
                            </p>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <p>
                                <span class="field-name">门市全天价格：</span>
                                <span th:text="${item.retailFullDay} + '元'"></span>
                            </p>
                            <p>
                                <span class="field-name">门市半天价格：</span>
                                <span th:text="${item.retailHalfDay} + '元'"></span>
                            </p>
                            <p>
                                <span class="field-name">会议全天价格：</span>
                                <span th:text="${item.meetingOnlyFullDay} + '元'"></span>
                            </p>
                            <p>
                                <span class="field-name">会议半天价格：</span>
                                <span th:text="${item.meetingOnlyHalfDay} + '元'"></span>
                            </p>
                            <p>
                                <span class="field-name">延时收费：</span>
                                <span th:text="${item.overtimeChargePurHour} + '/小时（元）'"></span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-4">

                            <p>
                                <span class="field-name">是否有免费休息室：</span>
                                <span th:text="${item.hasFreeLounge}?'有':'没有'"
                                      th:classappend="${item.hasFreeLounge}?'label label-success':'label label-danger'"></span>
                            </p>
                            <p>
                                <span class="field-name">是否有前厅：</span>
                                <span th:text="${item.hasLobby}?'有':'没有'"
                                      th:classappend="${item.hasLobby}?'label label-success':'label label-danger'"></span>
                            </p>
                            <p>
                                <span class="field-name">是否有窗户：</span>
                                <span th:text="${item.hasWindow}?'有':'没有'"
                                      th:classappend="${item.hasWindow}?'label label-success':'label label-danger'"></span>
                            </p>
                            <p>
                                <span class="field-name">是否方正：</span>
                                <span th:text="${item.hasSquareArea}?'是':'不是'"
                                      th:classappend="${item.hasSquareArea}?'label label-success':'label label-danger'"></span>
                            </p>
                            <p>
                                <span class="field-name">是否有柱子：</span>
                                <span th:text="${item.hasPillar}?'有':'没有'"
                                      th:classappend="${item.hasPillar}?'label label-success':'label label-danger'"></span>
                            </p>
                        </div>

                        <div class="col-lg-4 col-sm-4">
                            <p>
                                <span class="field-name">是否有地毯：</span>
                                <span th:text="${item.hasCarpet}?'有':'没有'"
                                      th:classappend="${item.hasCarpet}?'label label-success':'label label-danger'"></span>
                            </p>
                            <p>
                                <span class="field-name">是否有舞台：</span>
                                <span th:text="${item.hasStage}?'有':'没有'"
                                      th:classappend="${item.hasStage}?'label label-success':'label label-danger'"></span>
                            </p>
                            <p>
                                <span class="field-name">是否有投影：</span>
                                <span th:text="${item.hasProjection}?'有':'没有'"
                                      th:classappend="${item.hasProjection}?'label label-success':'label label-danger'"></span>
                            </p>
                            <p>
                                <span class="field-name">是否有LED：</span>
                                <span th:text="${item.hasLed}?'有':'没有'"
                                      th:classappend="${item.hasLed}?'label label-success':'label label-danger'"></span>
                            </p>
                            <p th:if="${item.hasLed}">
                                <span class="field-name">LED尺寸：</span>
                                <span th:text="${item.ledSize} + '寸'"></span>
                            </p>
                            <p th:if="${item.hasLed}">
                                <span class="field-name">LED租用价格：</span>
                                <span th:text="${item.ledRent} + '元/天'"></span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <footer th:replace="footer :: copy"></footer>

</div>

<!-- 页脚 -->
<div th:include="footer :: commonjs"></div>

<script th:src="@{/static/js/index.js}"></script>
<script th:src="@{/static/js/siteDetail.js}"></script>
<script th:src="@{/static/js/bootstrap/jquery-ui-1.10.3.custom.min.js}"></script>
<script th:src="@{/static/js/bootstrap/datepicker-zh-CN.js}"></script>

</body>
</html>
