<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:include="header :: commonheader">
</head>
<head>
    <!--/*页面自定义*/-->
    <title>场地展示</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/site_list.css}">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body>

<!-- 导航 -->
<nav th:replace="nav :: navbar"></nav>

<!--场地列表-->
<div class="container marketing">
    <!--<span th:text="${pager.datas}"></span>-->
    <div class="row">

        <div th:if="${pager.datas.size()} == 0">
            <h4><p class="text-center">暂无数据</p></h4>
        </div>
        <div th:if="${pager.datas.size()} > 0">


            <div class="col-lg-3 col-sm-3" style="min-height: 450px;" th:each="item : ${pager.datas}">
                <a th:href="'/site/detail/' + ${item.id}" target="_self">
                    <div class="thumbnail" data-toggle="modal" data-target="#myModal" th:id="${item.id}">
                        <img data-src="holder.js/300x200" alt="300x200" style="width: 300px; height: 200px;"
                             th:src="${item.previewImageUrl}"/>
                        <div class="caption" style="min-height: 185px;">
                            <h3 th:text="${item.siteName}" style="min-height: 52px"></h3>
                            <p th:text="${item.location}" style="min-height: 40px"></p>
                            <p>¥<span class="startingprice" th:text="${item.startingPrice}"></span>起</p>
                        </div>
                    </div>
                </a>
            </div>

            <!--<div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">-->
            <!--<div class="modal-dialog modal-lg" role="document">-->
            <!--<div id="detailContainer" class="modal-content">-->
            <!--加载中...-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>

    </div>

    <div th:replace="pager :: pagerbar"></div>

    <footer th:replace="footer :: copy"></footer>

</div>

<!-- 页脚 -->


<div th:include="footer :: commonjs"></div>

<script th:src="@{/static/js/index.js}"></script>
<script th:src="@{/static/js/siteDetail.js}"></script>
<script th:src="@{/static/js/bootstrap/jquery-ui-1.10.3.custom.min.js}"></script>
<script th:src="@{/static/js/bootstrap/datepicker-zh-CN.js}"></script>


</body>
</html>
